html {
	-webkit-text-size-adjust: 100%;
	font-family: 'inter', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
		'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
		'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
	line-height: 1.5;
	tab-size: 4;
	scroll-behavior: smooth;
}

body {
	font-family: inherit;
	line-height: inherit;
	margin: 0;
	height: 100dvh;
}

.p-formfield {
	height: 4rem;
	margin-bottom: 1.7rem;

	label {
		// padding-left: var(--p-inputtext-padding-x);
		font-size: 0.8rem;
		color: var(--p-surface-500);
	}

	.p-message-content {
		// padding-left: var(--p-inputtext-padding-x);
		
		.p-message-text	 {
			font-weight: normal;
			font-size: 0.8rem;
		}
	}
}

.w-full {
	width: 100%;
}

.w-full-button {
	button {
		width: 100%;
	}
}